
{% if warnings is defined %}
    {% if warnings.Warning[0] is not defined %}
        
                
        {% for w in warnings %}
            <div class="row well">
                <div class="alert alert-error"> {{ w['Provider']['@attributes']['short_name']}} : {{w.Message}} </div>
            </div>
        {% endfor%}
        
    {% else%}
         <div class="row well">
         {% for w in warnings.Warning %}
            <div class="alert alert-error"> {{ w['Provider']['@attributes']['short_name']}}  :  {{w.Message}} </div>
        {% endfor%}
        </div>
    {% endif%}
{% endif%}
<br />
{% if txaData.Provider[0] is defined %}        
        {% for txa in txaData.Provider %}
        
            <table class="table table-striped">
                <caption style="text-align: left;margin-bottom: 10px;"><h4> {{ txa['@attributes']['short_name'] }} </h4></caption>
            <tr>
                <th>
                    Product
                </th>
                {% for av_dt in avail_dates %}
                    <th>
                        {{ av_dt | date("m/d/Y") }}
                    </th>
                {%endfor%}
            </tr>
            {% for det in txa.Products.Product %}
                <tr>
                    <td>
                        {{ det['@attributes']['name'] }}
                    </td>
                {%for d in det.Availability.AvailabilityDate %}
                    <td>
                        {{d['@attributes']['is_available']}} <br/>
                        {% if d['@attributes']['price'] is defined %} {{d['@attributes']['price']}} {% endif %}
                    </td>            
                {% endfor%}
                </tr>
            {% endfor%}
          </table>  
     {% endfor%}

{% else %}
     {% for txa in txaData %}
        <table class="table table-striped">
                <caption style="text-align: left;margin-bottom: 10px;"><h4> {{ txa['@attributes']['short_name'] }} </h4></caption>
            <tr>
                <th>
                    Product
                </th>
                {% for av_dt in avail_dates %}
                    <th>
                        {{ av_dt | date("m/d/Y") }}
                    </th>
                {%endfor%}
            </tr>
            {% for det in txa.Products.Product %}
                <tr>
                    <td>
                        {{ det['@attributes']['name'] }}
                    </td>
                {%for d in det.Availability.AvailabilityDate %}
                    <td>
                        {{d['@attributes']['is_available']}} <br/>
                        {% if d['@attributes']['price'] is defined %} {{d['@attributes']['price']}} {% endif %}
                    </td>            
                {% endfor%}
                </tr>
            {% endfor%}
            </table>
     {% endfor%}
{% endif %}
            