{% for entity in jobs %}
   <div class="{{ cycle(['row-fluid even', 'row-fluid odd'], loop.index) }}">
    <div class="span4">{{ entity.location }}</div>
    <div class="span4">
        <a href="{{ path('job_show', { 'id': entity.id, 'company': entity.companyslug, 'location': entity.locationslug, 'position': entity.positionslug }) }}">
          {{ entity.position }}
        </a></div>
    <div class="span4">{{ entity.company }}</div>
   </div>
  {% endfor %}
